<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
   	<meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Ferrew Shop{% endblock %}</title>
	<link rel="shortcut icon" href="{{ asset('img/logo-diop.png') }}">
	<!-- Bootstrap 4.5 CSS -->
	<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
	<!-- Style CSS -->
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}{% endblock %}
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">
</head>
<body>

	<!-- Second navbar -->
	<div class="second-navbar mb-4">
		<nav>
                    <input type="checkbox" id="check">
                    <label for="check" class="checkbtn">
                            <i class="fa fa-bars"></i>
                    </label>
                    <label class="logo"><a href="{{ path('main_home') }}"><img src="{{ asset('img/logo-diop.png') }}"></a></label>
                    <ul>
                        <li><a href="index.html">Produits</a></li>
                        <li><a href="index.html">Parfums</a></li>
                        <li><a href="index.html">Chaussures</a></li>
                        <li><a href="inscription.html">Inscription</a></li>
                        {% if app.user %}
                            <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                        {% else %}
                            <li><a href="{{ path('app_login') }}">Connexion</a></li>
                        {% endif %}
                    </ul>
		</nav>
	</div>
	<div class="space"></div>

	<!-- Second navbar end -->

        {% block body %}{% endblock %}
	
        <!-- Start Footer -->

	<!-- End Footer -->

	<!-- Start Socket -->
	<div class="socket text-light text-center py-3">
            <p><a href="{{ path('admin_article_home') }}">&copy;</a> <a href="{{ path('main_home') }}">www.ferrewshop.com</a></p>
	</div>

	<!-- End Socket -->




	<!-- Script Source Files -->

	<!-- jQuery -->
	<script src="js/jquery-3.5.1.min.js"></script>
	<!-- Bootstrap 4.5 JS -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Popper JS -->
	<script src="js/popper.min.js"></script>
	<!-- Font Awesome -->
	<script src="js/all.min.js"></script>
        {% block javascripts %}{% endblock %}

	<!-- End Script Source Files -->
</body>
</html>